.TaskAdd {
	background-color: silver;
	margin-top: 20px;
	padding-bottom: 50px;
	border-top: 1px solid gray;

	h3 {
		text-align: center;
	}

	.pure-form-message {
		margin-left: 13em;
		color: red;
	}
}